@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: danaMedium;
    src: url(/public/assets/font/Dana-Medium.woff) format(woff);
  }
  @font-face {
    font-family: danaBold;
    src: url(/public/assets/font/Dana-Bold.woff) format(woff);
  }
  @font-face {
    font-family: danaBlack;
    src: url(/public/assets/font/Dana-Black.woff) format(woff);
  }
  body{
    @apply m-0 p-0 px-2 box-border font-dana-medium text-base 
  }
}

@layer components {
  .button-primary{
    @apply flex justify-center items-center w-32 h-12 bg-primary text-lg font-semibold text-white rounded-lg ease-out delay-300 hover:bg-primary-100  ;
  }
}
